.Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;

}

.Buttons > a {
    background-color: var(--button_color);
    color: var(--color);
    width: 5vw;
    margin-top: 20px;
    height: 7vh;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.5s;
}

body {
    background-color: var(--body_background);
}

.Buttons > a[class='active'] {
    color: aquamarine;
    background-color: #4b2003;
    transition: 0.5s;
    font-weight: bold;
    width: 7vw;
    height: 8vh;
    font-size: 18px;
}