*{
    font-size: 28px;
}

.Header {
    background-color: var(--body_background);
    color: var(--body_color);
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Links{
    display: flex;
    gap: 30px;
}
a{
    text-decoration:none;
    color: var(--links_color);
    font-size: 30px;
}
.theme-switcher {
    margin-top: 20px;
}
