*{
    font-size: 26px;
}
.Header {
    background-color: chocolate;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Links{
    display: flex;
    gap: 10px;
}
a{
    text-decoration:none;
    color: snow;
}
.theme-switcher {
    margin-top: 20px;
}

.light {
    background-color: #ffffff;
    color: #000000;
}

.dark {
    background-color: #333333;
    color: #ffffff;
}
