body {
    margin: 0;
    padding: 0;
}

* {
    transition: all 0.2s ease-in-out;
}

:root {
    --body_background: white;
    --body_color: black;
    --links_color: black;
    --button_color: black;
    --color: white;
}

[theme='dark'] {
    --body_background: black;
    --body_color: white;
    --links_color: red;
    --button_color: snow;
    --color: black
}

